* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    background-color: #444;
}

#TheWorld {
    min-height: 100%;
    color: white;
    background-color: #444;
    padding-bottom: 100px;
}

#Console {
    width: 1400px;
    margin: 0 auto;
}

#Console_flex {
    display: flex;
}

#mirroring_checkboxes, #colorpalte_checkboxes{
    display: flex;
}


.console_element {
    padding: 10px;
}

.checkbox {
    padding: 5px;
}

button {
    padding: 5px;
}

#Canva {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #666;
}

.pixel {
    background-color: #ddd;
}